[submodule "js/sprintf.js"]
	path = js/sprintf.js
	url = https://github.com/jakobwesthoff/sprintf.js.git
[submodule "lib/twitteroauth"]
	path = lib/twitteroauth
	url = https://github.com/abraham/twitteroauth.git
[submodule "orm"]
	path = orm
	url = https://github.com/msmuenchen/skynetorm.git
[submodule "lib/dom-document-charset"]
	path = lib/dom-document-charset
	url = https://github.com/glenscott/dom-document-charset.git
[submodule "js/polyfill.js"]
	path = js/polyfill.js
	url = https://github.com/jugglinmike/srcdoc-polyfill.git
[submodule "js/IndexedDBShim"]
	path = js/IndexedDBShim
	url = https://github.com/axemclion/IndexedDBShim
