* {
padding:0;
margin:0;
}
html, body {
  height:100%;
  width:100%;
  min-width:1000px;
}
body {
  font-family:Arial;
font-size:14px;
line-height:14px;
}
#menu {
float: left;
width: 300px;
border-right: 2px solid blueviolet;
padding: 20px 30px;
height:calc(100% - 2 * 20px);
overflow-y:scroll;
}
#menu a {
width: calc(100% - 40px); /* give the unread_count approx.40px */
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
display: inline-block;
  text-decoration:none;
  color:black;
height: 20px;
padding: 2px 0px;
box-sizing: border-box;

}
#menu li {
font-size:16px;
line-height:16px;
}
#feedlist .feed {
margin:2px 0px;
}
#menu a:visited {
  text-decoration:none;
  color:black;
}
#content {
float:left;
padding:40px;
height:calc(100% - 2 * 40px);
width:calc(100% - 300px - 2 * 30px - 2 * 40px - 2px);
}
.view {
  display:none;
  height:100%;
  width:100%;
  overflow-y:auto;
}
#feedentries {
height:calc(100% - 49px - 5px - 5px - 16px); /* height of feedbar - top margin feedentries - top margin footer - footer height */
overflow-y:scroll;
margin-top:5px;
}
#index {
  display:block;
}
#feedentries .fullLink {
  font-style:italic;
}
.feedline,#feedmore {
border:1px solid grey;
display:block;
border-radius:4px;
padding:2px 5px;
}
#feedentries h2 {
  clear:both;
  cursor:pointer;
}
#grcounter {
display:none;
}
.feedline.open .feedDetails {
  display:block;
}
.feedline .feedDetails {
  display:none;
}
.feedline .title {
	font-size:16px;
	line-height:16px;
}
.feedline .title.unread {
font-weight:bold;
}
.feedline .date {
text-align:right;
}
.feedline table {
  width:100%;
}
.feedline .topRow,.feedline .bottomRow td {
	cursor:pointer;
}
.feedline.selected .topRow {
	background-color:yellow;
}
.feedDetails:before,
.feedDetails:after {
  content: '';
  display: table;
}
.feedDetails:after {
  clear: both;
}
#feedmore span {
  display:none;
  cursor:pointer;
}
#feedmore.more .more, #feedmore.loading .loading, #feedmore.nomore .nomore {
display:block;
}
.feed.hasunread {
  font-weight:bold;
}
.feedDetails .author {
  color:#444;
  font-style:italic;
  font-size:90%;
}
.feedDetails .author:empty {
  display:none;
}
.feedline .bottomRow {
  font-size:90%;
  border-top:1px solid #ccc;
  display:none;
}
.feedline.open .bottomRow {
  display:block;
}
.feedline .topRow {
  border-bottom:1px solid #ccc;
}
.feedline .bottomRow td {
  border:1px solid #00c;
  border-radius:3px;
  background-color:#0ff;
padding: 1px 4px;
}
.feed.hasicon {
  list-style-type:none;
  position:relative;
}
.feed .icon {
  max-height:20px;
  max-width:20px;
  position:absolute;
  left:-25px;
}
.fullText iframe {
  width:100%;
  border:none;
}
#flts {
list-style-type:none;
}
#feedbar .item {
margin:0px 10px;
}
#feedbar .item:first-of-type {
	margin-left:0px;
}
#feedbar .item:last-of-type {
	margin-right:0px;
}
button {
	padding:0px 3px;
}
h1 {
	font-size:24px;
line-height:24px;
margin-bottom:5px;
}
#feedmenu {
height:20px;
}
#menu .loginshow, #menu .logoutshow, #feedlist .loading, #feedlist .nofeeds {
	display:none;
}
#login-error {
	font-weight:700;
	color:red;
}

h2 {
	line-height:20px;
	font-size:20px;
	margin-top:1px;
	margin-bottom:2px;
}
#logintw,#loginfb {
display:block;
height:22px;
width:150px;
}
#logintw {
	background:url("assets/signin_twitter.png");
}
#loginfb {
	background:url("assets/signin_facebook.png");
}
#logintw:hover,#loginfb:hover {
	background-position:0 46px;
}
#logintw:active,#loginfb:active {
	background-position:0 22px;
}
#share-container {
position: fixed;
height: 100%;
width: 100%;
background-color: rgba(100,100,100,0.75);
z-index: 99999;
display:none;
}
#share-content {
	width:350px;
	margin:0 auto 0;
height: 250px;
background-color: white;
position: relative;
top: calc(50% - (250px / 2));
border-radius: 12px;
padding: 15px;
box-sizing: border-box;
}

#share-close {
position: absolute;
right: 20px;
top: 20px;
height: 20px;
border: 1px solid black;
width: 20px;
border-radius: 6px;
box-sizing: border-box;
padding: 2px;
cursor: pointer;
}
#discover-results {
display:none;
}
span.i18n {
	display: inline !important;
}
#feedmenu, #feedentries {
display:none;
}

.unread_count {
position:absolute;
right:0px;
padding: 2px 0px;
}

#feedlist li {
border-bottom: 1px solid #eee;
cursor:pointer;
}
#feedlist li:last-of-type {
border-bottom:none; /* prevent double border */
}

#feedentries {
position:relative;
}
.feedline, #feedmore {
position:relative;
z-index:2;
background:#fff;
}
#feedentries:after {
    content: "";
    display: block;
    height: 100%;
    margin-top: -20px;
    position: relative;
    z-index: 1;
}
#feedfooter {
	margin-top:5px;
}
.libblock {
max-height:200px;
overflow-y:scroll;
}

@media screen and (min-width: 1000px){
    .tabcontainer_group {
            position:relative;
            display:inline-block;
    }
    .tabcontainer {
    display: inline-block;
    border: 1px solid grey;
    border-bottom: none;
    vertical-align:top;
    margin:0 0 0 10px;
    }
    .tab {
    display:none;
    border:1px solid grey;
    position:absolute;
    left:0;
    right:0;
    top:24px;
    }
    .tab.active {
    display:block;
    }
    .tabheader {
            cursor:pointer;
    }
}